[2018-10-23 12:46] xeruf opened #1 "Cannot read property 'state' of undefined"
From socha_graphical_client created by [Xerus2000](https://github.com/Xerus2000) : CAU-Kiel-Tech-Inf/socha_graphical_client#103

![image](https://user-images.githubusercontent.com/13354331/47208489-3b639980-d38e-11e8-9b3d-a287280862bc.png)

Dieser error popt immer wieder auf, ich merke keine Veränderung im Spielfluss, aber die Frage ist woher er kommt?

[2018-10-23 12:48] xeruf opened #2 "Auto-updates via electron-builder"
Da electron-builder das als feature hat, sollten wir uns das mal anschauen.

[2018-10-23 12:48] xeruf opened #3 "Dem User es einfacher machen, bei Problemen mit uns Kontakt aufzunehmen"
From socha_graphical_client created by [SKoschnicke](https://github.com/SKoschnicke) : CAU-Kiel-Tech-Inf/socha_graphical_client#98

Z.B. ein Crash Reporter oder auch die Moeglichkeit, uns direkt ein App-Log und/oder Replay zukommen zu lassen, mit einer Nachricht dazu.

Normalerweise laeuft das im Moment so, dass wir eine Mail bekommen mit "Das und das funktioniert nicht". Dann fragen wir nach, wel

[2018-10-23 12:48] xeruf opened #4 ""Replay laden" tab sollte kein popup sein"
From socha_graphical_client created by [Xerus2000](https://github.com/Xerus2000) : CAU-Kiel-Tech-Inf/socha_graphical_client#88

Wenn man links auf ein NavItem klickt, erwartet man kein Pop-up. Entweder man embedded den Dateiexplorer oder man macht eine kleine Übersicht wo man vielleciht auch Startrunde und eventuelle Fehler anzeigen kann.

[2018-10-23 12:49] xeruf opened #5 "Schönerer Finalbildschirm"
From socha_graphical_client created by [Xerus2000](https://github.com/Xerus2000) : CAU-Kiel-Tech-Inf/socha_graphical_client#82

Bisher ist der Endscreen nach einem Spiel sehr unschön. Man könnte doch den viewer genau wie bei dem dicken Play button einfach abdunkeln, statt eines Overlays und den Text am besten noch vertikal zentrieren.

[2018-10-23 12:50] xeruf opened #6 "Play button bei fertigen Spielen"
Wenn man zu einem abgeschlossenen AI vs AI spiel wechselt, zeigt sich ebenfalls der große Play Button inklusive Abdunkelung, was natürlich quatsch ist, da das Spiel ja vorbei ist.

[2018-10-23 12:51] xeruf opened #7 "Resourcenverbrauch senken"
From socha_graphical_client created by [SKoschnicke](https://github.com/SKoschnicke) : CAU-Kiel-Tech-Inf/socha_graphical_client#78

Bei mir verbraucht die GUI im Leerlauf (also waehrend sie auf die Zugeingabe eines menschlichen Spielers wartet) mit drei Threads zwischen 17 und 27% CPU. Das finde ich zu viel, selbst fuer eine Electron App. Wahrscheinlich hilft es schon, wenn wir nicht dauernd nach

[2018-10-23 12:52] xeruf opened #8 "Kein App-Icon in Linux"
Ich habe viel herum-experimentiert, aber nicht die Lösung gefunden. Wenn ich die GUI in Linux starte, egal wie, hat sie kein eigenes icon.

[2018-10-23 12:53] xeruf opened #9 "Bessere Navigation im Game Viewer"
- [x] shift-click auf einen Zug-Skip-button sollte 5 oder 10 Züge springen
- [x] Scrollen durch die Züge in der Fortschrittsleiste

[2018-10-23 12:54] xeruf opened #10 "Gui hinterlässt manchmal Prozess"
From socha_graphical_client created by [soerendomroes](https://github.com/soerendomroes) : CAU-Kiel-Tech-Inf/socha_graphical_client#43

![image](https://user-images.githubusercontent.com/6419799/33259643-ce494a6a-d35d-11e7-92c1-c9f6dc603a99.png)

[2018-10-23 12:54] xeruf commented on #10
Ich hatte das auch schon unter Linux. Ich habe bisher vergeblich versucht herauszufinden, woran das liegt bzw. wie man es reproduzieren kann.

[2018-11-03 13:19] 0xhtml opened #13 "Startet nicht auf Windows"
Auf Windows 10 mit Java 1.8.0_192 startet das Programm nicht.
Es gibt den Fehler

	[14:17:51.593] Server stderr: java.lang.UnsupportedClassVersionError: sc/server/Application has been compiled by a more recent version of the Java Runtime (class file version 54.0), this version of the Java Runtime only recognizes class file versions up to 52.0
	[14:17:51.595] Server stderr:
	        at java.lang.Cl

[2018-11-03 13:26] soerendomroes commented on #13
Tritt bei mir auch auf, mit Windows 10, und Java 1.8.0_121

[2018-11-03 19:27] xeruf commented on #13
Scheint ein Problem seitens Travis CI zu sein. Ich schau mal nach.

[2018-11-04 09:20] xeruf commented on #13
So, hab den Release neu gemacht, jetzt sollte alles gehen. Danke fürs melden :)

[2018-11-04 09:20] #13 closed, assigned to nobody

[2018-11-21 09:25] SKoschnicke opened #14 "Moeglichkeit, Wasseranimation abzuschalten"
So wie man die Zuganimationen schon abschalten kann (aber als separate Option).

[2018-11-28 19:08] fabianvdW opened #15 "Server-GUI reagiert langsam oder garnicht im Spiel Piranha"
Betriebssystem: Windows 7 64-Bit
Release: 19.1.2 (auch bereits mehrmals neuinstalliert)
Java-Version: 1.8.0_191-b12 (auch bereits neuinstalliert)

Beim Starten der GUI gibt es keine Probleme. Wenn ich ein Mensch gegen Mensch Spiel starte lädt das Spiel auch nach einigen Sekunden Blackscreen die Animationen und so weiter ein. Ab dann gibt es keine Probleme, bis der erste Zug ausgeführt wird. Der Zu

[2018-11-28 23:27] xeruf commented on #15
Ich probieren es demnächst mal in Windows. Könntest du die gesamten Logs senden?

[2018-11-29 15:35] fabianvdW commented on #15
Hier der Log den ich noch von gestern habe:

[software-challenge-gui-2018.11.28.log.zip](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/2629762/software-challenge-gui-2018.11.28.log.zip)

Im Log sind auch einige Fehler erkennbar. Sie finden nach dem Erstellen eines Spiels statt, nach dem ersten "Handling move request" im stdout von dem Server. Bsp:
![fehler](https://user-images.githubusercon

[2018-12-13 12:28] SKoschnicke opened #16 "Problem mit Gewinnbedingung wenn Schwarm durch fressen des letzten einzelnen Fisches entsteht"
Erreichte uns von Schuelern:

Das ist wohl kein Problem mit dem Server, siehe https://github.com/CAU-Kiel-Tech-Inf/socha/issues/198

Also vermute ich, dass nur der Endscreen nicht richtig getriggert wird.

[2019-03-13 18:22] 0xhtml commented on #16
Ich kann bestätigen, dass es sich um einen Fehler beim Anzeigen des Gewinners handelt, denn sobald man einmal in ein anderes Spiel (oder auf Neues Spiel etc.) drückt und wieder auf das Spiel zurück geht, wird der Gewinner angezeigt.
(Es wird desweiteren über dem Gewinner auch der Playbutton angezeigt, siehe #6)

[2019-03-13 18:37] 0xhtml commented on #10
Es handelt sich um den Prozess `java -jar server.jar --port 13050`, der beim Starten der GUI erstellt wird.
Ich konnte dieses Verhalten ebenfalls nicht eindeutig reproduzieren. Ich weiß nur, dass dieses Problem bei mir nach mehreren Spielen, die zum Teil nicht beendet wurden, auftrat.

[2019-03-17 21:20] xeruf commented on #15
Dieses Issue ist schon recht alt, ich schließe es mal. Falls weiterhin Probleme auftreten gerne neu öffnen!

[2019-03-17 21:21] #15 closed, assigned to nobody

[2019-03-17 21:23] xeruf opened #20 "Unzuverlässges rendering im viewer"
Wenn ich die Geschwindigkeit auf maximal stelle, sieht man im dev log mehrfach pro zug die Warnmeldung "sprite was not on it's place on (x, y)". Gleichzeitig ist die Anzeige im viewer auch sehr sporadisch, Fische verschwinden einfach etc.

[2019-03-17 21:50] #6 closed, assigned to nobody

[2019-03-17 22:15] #1 closed, assigned to nobody

[2019-03-17 22:16] #14 closed, assigned to nobody

[2019-05-01 16:20] xeruf commented on #16
Habe es einmal nachgespielt und hatte keine probleme. Bitte wieder öffnen wenn das Problem erneut auftritt,

[2019-05-01 16:20] #16 closed, assigned to nobody

[2019-05-13 04:58] SKoschnicke opened #22 "Endscreen verschwindet nicht wieder, wenn man vom Ende des Spiels zurueckgeht"
Sobald der Endscreen angezeigt wurde, kann man durch den Zurueckbutton im Spielverlauf zurueck gehen, der Endscreen bleibt aber ueber dem Spielgeschehen. Erst wenn man mit der Leiste links vom Spiel wegspringt (z.B. auf das Serverlog-Fenster) und dann wieder hin, ist der Endscreen weg (und der grosse Play-Button wird angezeigt).

Der Endscreen sollte immer verschwinden, sobald nicht mehr den letzt

[2019-05-16 14:00] #9 closed, assigned to xeruf

[2019-05-17 11:22] xeruf commented on #22
Das Issue hängt damit zusammen dass der Endscreen vom Viewer kontrolliert wird, was mir sowieso nicht so richtig gefällt. Ich schau mal wie sich das machen lässt.

[2019-05-17 11:28] xeruf commented on #20
@SKoschnicke hast du hier schonmal reingeschaut? Das Problem besteht immer noch.

[2019-05-17 11:48] xeruf opened #23 "Viewer zu React Component migrieren"

[2019-05-17 11:50] #22 closed, assigned to xeruf

[2019-08-14 07:52] #5 closed, assigned to nobody

[2019-08-22 10:52] Yasamato opened #25 "Getting Started - compile failed: cp not found or rimraf not fetched"
Mein Setup:
- Windows 10 64bit
- yarn v1.17.3
- gradle 5.6
- kotlin 1.3.41-release-150
- java jdk 12.0.2
- node v10.16.3
- git 2.23.0.windows.1

Musste gradle und kotlin ebenso installieren, da sonst tools gefehlt hatten. Sollte der [Readme.md](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/master/README.md) evtl. hinzugefügt werden.

1. Repository klonen mit `git clone https://github.com/CAU

[2019-08-22 12:15] Yasamato commented on #25
Der Fehler tritt konsistent in der Command Line als auch in der PowerShell auf. Auch nach mehrfachen Rebooten.

[2019-08-22 13:47] Yasamato commented on #25
Der Fehler liegt in der [package.json](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/master/package.json) unter `scripts` bei `compile-server`. Hier wird der native cp-command für unix-systeme benutzt während Windows cmd jedoch den Befehl `copy` nur unterstützt. PowerShell von Windows hat inzwischen einen Support für `cp`, jedoch tritt der Fehler weiterhin beim Aufruf mit `yarn update-server

[2019-08-22 15:42] Yasamato commented on #25
Lösung für windows:
[`compile-server`](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/master/package.json#L14) muss durch `"compile-server": "cd socha && ./gradlew :server:deploy -q && cd .. && rimraf server && xcopy socha\\server\\build\\runnable server\\ /E && xcopy socha\\player\\build\\libs\\defaultplayer.jar ."` ersetzt werden.

[2019-08-22 16:20] Yasamato commented on #25
#26

[2019-08-22 16:20] #25 closed, assigned to nobody

[2019-08-22 16:21] Yasamato commented on #8
Ist dass mit #26 immer noch nicht möglich?

[2019-08-26 17:37] xeruf commented on #8
Werde ich mal checken.

[2019-09-04 08:43] Yasamato opened #30 "Selectable unplaced pieces"

[2019-09-04 08:43] Yasamato opened #31 "Replacement of SelectTargetDirection with SelectTargetField"

[2019-09-04 08:45] Yasamato opened #32 "Implementation of GameRuleLogic"
Am besten nur ein mal die Logic schreiben und von [socha](https://github.com/CAU-Kiel-Tech-Inf/socha) portieren lassen, evtl. als submodul?

[2019-09-04 09:22] Yasamato commented on #10
Ist das immer noch ein Problem? klingt nach einem Bug bei [socha](https://github.com/CAU-Kiel-Tech-Inf/socha)

[2019-09-04 09:33] SKoschnicke commented on #10
Ich denke das tritt noch auf, ja. Aber ist erstmal nicht die Priorität.

[2019-09-04 10:12] Yasamato commented on #7
Im Leerlauf ohne ein Spiel offen, komme ich auf um die 3% Auslastung während ich mit geöffnetem Spiel auf 6 Threads (sind immer 6 Threads) mit peaks bis zu 10% komme.

[2019-09-04 10:13] Yasamato commented on #4
Der Dateiexplorer wird doch momentan zur Dateiauswahl aufgerufen oder? Ich sehe am momentanen Verhalten kein Problem.

[2019-09-04 19:37] #31 closed, assigned to Yasamato

[2019-09-04 19:39] Yasamato opened #33 "Missing graphics for grasshopper"

[2019-09-04 19:42] Yasamato commented on #33
Please update [HiveEngine.ts](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/2de43d1ad0018f1762de6e4971a6782d568165f0/src/viewer/Engine/HiveEngine.ts) on [line 40](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/2de43d1ad0018f1762de6e4971a6782d568165f0/src/viewer/Engine/HiveEngine.ts#L40) and [line 111](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/2de43d1ad0018f1762de6e4971a6782d56

[2019-09-04 19:58] Yasamato opened #34 "In-game labels missing"

[2019-09-04 20:36] Yasamato opened #35 "4-facher Aufruf von getState() bei Spielstart"
Beim start eines neuen Spiels wird in der console 4-mal der Aufruf von getState() von [GameManagerWorkerInterface.ts](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/hive/src/api/synchronous/GameManagerWorkerInterface.ts) angezeit.

Beim Auskommentieren von der manuellen Hinzufügung in [line 113](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/5cd81c0fcca93920573388d549921545ac137e2e/src/a

[2019-09-04 20:41] Yasamato opened #36 "Bei Window-Größe < 809px kommt es zu ungewolltem Zeilenumbruch in der Kontrollleiste"
Wanted behaviour (size >=809px):
![image](https://user-images.githubusercontent.com/27964795/64289633-e0667100-cf64-11e9-8526-d26af915b929.png)

Unwanted behaviour (size < 809px):
![image](https://user-images.githubusercontent.com/27964795/64289705-012ec680-cf65-11e9-8578-99590968294d.png)
Die Icons lassen sich zwar noch klicken, sind jedoch halb aus dem Window und sind sticky-bottom.

[2019-09-04 20:46] Yasamato opened #37 "Hintergrundbild für hive aktualisieren"

[2019-09-04 20:47] Yasamato commented on #37
Damit ist sowohl der Hintergrund im Hauptmenü gemeint, als auch im Spiel selbst (momentan black-screen)

[2019-09-05 08:46] Yasamato commented on #32
Fürs erste würde ich heute abend eine die Logic als ts implementieren und orientiere mich hierbei am alten [PiranhasGameRules.ts](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/hive/src/api/rules/PiranhasGameRules.ts)

[2019-09-05 08:58] SKoschnicke commented on #32
Zusaetzlich solltest du dich an den (hoffentlich heute Abend schon recht weit) implementierten Regeln im Server orientieren: https://github.com/CAU-Kiel-Tech-Inf/socha/blob/hive/plugin/src/shared/sc/plugin2020/util/GameRuleLogic.java
Da kann man eigentlich ganz gut Copy-Paste machen und dann auf Typescript umschreiben.

[2019-09-06 09:12] Yasamato opened #38 "Graphic for Vogelnest missing"
Missing graphics itself and implementation in HiveEngine.ts

[2019-09-07 12:27] SKoschnicke commented on #33
https://github.com/CAU-Kiel-Tech-Inf/socha-gui/commit/05945c478e99cdf5070ad2ef78c53f9fda2075d1

[2019-09-07 12:27] #33 closed, assigned to SKoschnicke

[2019-09-07 18:51] #30 closed, assigned to SKoschnicke

[2019-09-07 18:53] xeruf commented on #4
"Wenn man links auf ein NavItem klickt, erwartet man kein Pop-up."
Das ist einfach UX-technisch unerwartet.

[2019-09-08 17:41] #37 closed, assigned to SKoschnicke

[2019-09-08 19:33] #38 closed, assigned to SKoschnicke

[2019-09-08 19:33] Yasamato commented on #35
siehe https://github.com/CAU-Kiel-Tech-Inf/socha-gui/commit/713c65c7b1f5089e4cdd34e62d0a7a09541f3d4e

[2019-09-08 19:33] #35 closed, assigned to nobody

[2019-09-08 22:00] matthesjh opened #39 "Upgrade to Electron 7"
When upgrading Electron to version 6.1 the following packages should also be updated:

- [electron-builder](https://github.com/electron-userland/electron-builder/) to version 21.2.0

[2019-09-09 11:57] #32 closed, assigned to Yasamato

[2019-09-09 12:08] Yasamato opened #40 "Zugzwang bee missing"
Damit einhergehend, ist ein Rework der Handhabung in der gui von undeployed pieces notwendig

[2019-09-09 12:10] Yasamato opened #41 "Undeployed Pieces: beide Farben auswählbar"
Wenn Rot beispielsweise am Zug wäre, kann man auch blau anklicken und dadurch beispielsweise ein Brett voll bees haben (serverseitige Validierung?)

Muss wahrscheinlich mit #40 gemeinsam adressiert werden.

[2019-09-09 12:13] Yasamato opened #42 "Zwangsausetzen HumanClient"
Ich konnte bisher kein Szenario erstellen bei dem das der Fall war, aber was dann?

[2019-09-09 12:14] Yasamato opened #43 "Bug-collector"
### Known Bugs:
- none 😄

### Wichtige Erweiterungen:
- [ ] Zuganimationen #57

### Und serverseitig fehlt desweiteren noch:
- Spielende mit der 31. Runde
- Unentschieden erkennen

### Muss noch getestet werden:
- [x] Zwangsausetzen bei Human-Client #42
- [ ] Unentschieden

[2019-09-09 17:49] Yasamato opened #45 "Kenntlichmachen von Stacks"
Eine Darstellung von beispielsweise blauer Käfer ist momentan auf roter Ameise drauf.

[2019-09-09 19:21] #41 closed, assigned to nobody

[2019-09-09 19:21] #40 closed, assigned to nobody

[2019-09-09 20:04] Yasamato opened #46 "Game stellt Map mit Coords anders dar"
Das Spiel stellt aktuell die Map folgendermaßen dar mit den Coords (q, r) aka (x, y):
![image](https://media.discordapp.net/attachments/618361705117908992/620705153523384340/unknown.png)

Jedoch wird im Guide unter https://www.redblobgames.com/grids/hexagons/#range-coordinate das mit (x, z, y) aka (q, s, r):
![image](https://user-images.githubusercontent.com/27964795/64562349-1e8cd780-d34d-11e9-8f

[2019-09-09 20:10] SKoschnicke commented on #46
Ich glaube da ist nichts falsch. Das Spielfeld wird nur an der x-Achse gespiegelt dargestellt.

[2019-09-09 20:30] xeruf commented on #46
Es ist senkrecht zur x-Achse gespiegelt. Das ist halt beim tests debuggen total verwirrend, aber erstmal nur was grafisches.

[2019-09-09 20:39] xeruf commented on #46
https://www.redblobgames.com/grids/hexagons/ wir haben bei den Koordinaten was falsch gemacht: q und r sollten mit x und z übereinstimmen, wir nutzen aber überall x und y. Das müssen wir morgen nochmal besprechen.

[2019-09-10 05:07] SKoschnicke commented on #46
In den meisten Beispielen auf der Seite wird x q und z r zugeordnet, aber das ist nicht zwingend und macht die anderen Zuordnungen nicht falsch:

https://www.redblobgames.com/grids/hexagons/#coordinates-axial

Ich vermute daher unsere Koordinaten sind nur nicht konsistent mit dem Beispielbild von der RedBlobGames Seite, aber zwischen Server und GUI schon. Ich pruefe das heute aber nochmal.

[2019-09-10 11:53] SKoschnicke opened #47 "Fehler bei isSwarmConnected in GUI"
Folgendes passiert nach ein paar Zuegen in der GUI und fuehrt dazu, dass keine Felder mehr als auswaehlbar markiert werden.
![img-2019-09-10-135138](https://user-images.githubusercontent.com/105162/64611691-57bb5b00-d3d2-11e9-9bc7-039adf39dbd8.png)

[2019-09-10 11:55] SKoschnicke commented on #47
Umittelbar vorher im Log steht:
[code]

[2019-09-10 11:57] SKoschnicke opened #48 "GUI erlaubt das setzen auf Hindernisse"
Hindernisse werden gelb markiert und anscheinend kann man auch auf die Felder setzen (der Server scheint das auch nicht zu validieren).

[2019-09-10 15:00] #47 closed, assigned to nobody

[2019-09-10 15:01] #48 closed, assigned to nobody

[2019-09-10 18:53] SKoschnicke commented on #46
behoben durch 977e695

[2019-09-10 18:53] #46 closed, assigned to SKoschnicke

[2019-09-10 18:54] SKoschnicke opened #49 "Fehler bei Anzeige von moeglichen Zielfeldern fuer Ameise"
![img-2019-09-10-205121](https://user-images.githubusercontent.com/105162/64641742-198f5d00-d40d-11e9-91cd-14ccf6891d25.png)

Ausgewaehlt wurde die rote Ameise auf 0,2. Sie sollte auch auf 1,0; 2,-1 usw. koennen.

[2019-09-10 19:38] SKoschnicke opened #50 "Kaefer kann nicht auf anderen Stein ziehen, wenn rechts und links die Felder leer sind"
![img-2019-09-10-213708](https://user-images.githubusercontent.com/105162/64644593-4181bf00-d413-11e9-96da-16b31fe30346.png)
roter Kaefer auf 0,1 ist angeklickt, sollte auf die Biene ziehen koennen.

[2019-09-10 20:25] #45 closed, assigned to nobody

[2019-09-10 20:51] Yasamato commented on #50
Ist es serverseitig bereits implementiert?

[2019-09-10 21:14] Yasamato commented on #49
Auch hier scheint der Server bei manchen Szenarien keinen State zu updaten oder turn++

[2019-09-10 21:40] Yasamato commented on #45
Aktuell jetzt:
![image](https://user-images.githubusercontent.com/27964795/64652502-50bd3880-d424-11e9-95e6-7929ddb519b6.png)

[2019-09-11 11:44] Yasamato commented on #36
Das ganze ist eh obsolet, da wir 750px Breite und 800px Höhe an Minimum brauchen, um das Spielbrett vollständig anzuzeigen.

[2019-09-11 11:44] #36 closed, assigned to nobody

[2019-09-11 12:34] xeruf commented on #50
ah ja, ich weiß woran es liegt ^^

[2019-09-12 07:20] SKoschnicke opened #51 "Anzeige einer Regelverletzung bei menschlichen Spielern"
Wenn man ueber die GUI als Mensch spielt und einen ungueltigen Zug eingibt, kommt die GUI in einen Zustand, wo keine Eingaben mehr moeglich sind. Anscheinend wird auch extrem viel gepollt, was die CPU-Last hochtreiben duerfte.
Natuerlich passiert das nur, wenn die GUI ungueltige Eingaben nicht vorher abfaengt, aber es hat sich beim Testen als sehr hinderlich erwiesen. Und man kann nie ausschliesse

[2019-09-12 07:23] SKoschnicke opened #52 "Anpassung des XML-Parsens der GUI"
Im XML werden die x,y,z Koordinaten jetzt als Attribute statt als Kind-Tags uebertragen. Das muss im `fromJson` des Boards sowie in der generierung des Move-XML in `HumanClient.ts` noch angepasst werden.

[2019-09-12 18:14] SKoschnicke commented on #49
Die Anzeige der Zielfelder liegt aber nicht am Server. Ist immernoch nicht richtig:
![img-2019-09-12-201254](https://user-images.githubusercontent.com/105162/64809559-e4fcdc00-d599-11e9-83a4-f305224a29fe.png)
(habe die rote Ameise angewaehlt)

[2019-09-12 18:45] Yasamato commented on #49
Oh ja, hab vergessen abzufragen ob es ein Randtile ist.

[2019-09-12 18:51] Yasamato commented on #49
Oh... hab das ausversehen automatisch geclosed, ohne zu testen, ob das im Server schon funktioniert, aber es sieht bisher gut aus 👍

[2019-09-12 19:33] Yasamato commented on #52
Hm... @SKoschnicke wenn ich das richtig sehe, wird das serverseitig weiterhin als subtags im server gelesen und geparst, kannst du mir den entsprechenden Server-Code zeigen was du damit meinst?

[2019-09-12 19:57] SKoschnicke commented on #52
Die Änderung ist im branch `hive_xml_break`

[2019-09-12 20:40] Yasamato commented on #52
Hm... abgesehen davon, dass der Server jetzt nicht mal mehr startet, kommt es immer zu der Fehlermeldung.
![image](https://user-images.githubusercontent.com/27964795/64819246-1e3f4700-d5ae-11e9-9c6b-370d55ddea06.png)

 Aber sehe ich das richtig, dass in `Hive.ts` bereits die Koordinaten via attributs ausgelesen werden?

[2019-09-12 21:12] Yasamato commented on #51
Hm... ich habe jetzt mal eine ganze Weile herum geforscht wie man es tun sollte (mit electron via ipc ein event triggern, dass dann eine ErrorBox anzeigt, die dialog.showErrorBox direkt aufrufen etc...), ich kann aber leider nur von `PlayerClient.ts` aus nicht auf electron samt seinen Modulen zugreifen (alles undefined...), daher fallen leider alle Optionen eine einfache Fehlermeldung im Dialog an

[2019-09-13 04:54] SKoschnicke commented on #51
Ich glaube nicht, dass man da irgendwas an der aktuellen Kommunikation zwischen Node (Backend der GUI) und Browser machen muss. Das Spiel wird vom Server wegen einer Regelverletzung beendet und der GameManager der GUI bekommt das auch mit. Was nur nicht passiert, ist dass der Endscreen dann angezeigt wird. Ich glaube dass das Anzeigen des Endscreens aber grundsaetzlich funktioniert, es hat zuminde

[2019-09-13 05:08] SKoschnicke commented on #51
Dieser Bug behindert das manuelle Testen sehr stark, da sich die GUI nach dem Beenden des Spiels durch den Server nicht mehr konsistent verhaelt und wir dadurch Bugreports bekommen, die auf andere Fehler hindeuten, aber eigentlich eine Beendigung des Spiels durch den Server *vorher* als Ursache haben.

[2019-09-13 05:14] #52 closed, assigned to nobody

[2019-09-13 06:25] SKoschnicke commented on #49
Bitte nochmal im Server gucken, ob das korrekt ist.

[2019-09-13 10:46] xeruf commented on #50
gefixt in https://github.com/CAU-Kiel-Tech-Inf/socha/commit/ee15604617bcbf41d507092c1c6effaf6b5d9760

[2019-09-13 10:46] #50 closed, assigned to xeruf

[2019-09-13 10:50] xeruf commented on #49
Bitte im Server ein konkretes issue öffnen wenn noch was falsch ist.

[2019-09-13 10:59] xeruf commented on #42
Biene irgendwo setzen, dann eine Ameise setzen, dann hin und her bewegen und dabei mit dem anderen die Ameise von drei Seiten einschließen.
Hm Moment, dann kann man noch die Biene bewegen, Ich zweifle gerade, dass zwangsaussetzen jemals vorkommt, denn dann wäre die Biene ja bewegungsunfähig und damit das Spiel beendet.

[2019-09-13 12:49] Yasamato commented on #42
Wenn man nur die Biene setzt, muss diese ja nur von 3 Steinen eingeschlossen werden, wodurch kein weiteres mehr platziert werden könnte, da es keine benachbarten felder gibt, welche nicht direkt mit einem Gegner verbunden sind, was wiederum Zwangsweise zu einer Niederlage führen kann. Aber ja, realistisch gesehen fällt mir da nichts ein, was zu einer Zwangsaussetzung führen könnte, vor allem da im

[2019-09-13 15:27] Yasamato commented on #51
Hm ich kann deine Beschreibung nicht reproduzieren... aber ich denke, dass du etwas in diese Richtung meintest? Was mir bekannt war, war dass nach dem senden des Moves, der Server mit einem leeren gamestate antwortet

[2019-09-13 18:18] Yasamato commented on #2
Das muss noch getestet werden... dazu müssten wir aber was auf github releasen

[2019-09-13 22:25] Yasamato commented on #49
Hm es ist auch noch in der gui irgendwas falsch... schau morgen drüber.
![image](https://user-images.githubusercontent.com/27964795/64898094-25d21f00-d686-11e9-9ee8-68664773868c.png)

[2019-09-13 22:49] Yasamato opened #53 "Endscreen anpassen"
Texte sind noch von Piranha

[2019-09-13 22:52] Yasamato commented on #23
#39 und #7 sollten damit auch verknüpft sein

[2019-09-14 05:40] SKoschnicke commented on #49
Das auf dem Bild sieht für mich richtig aus, was ist da falsch?

[2019-09-14 07:06] Yasamato commented on #49
Wenn die Ameise auf -1,2 zieht, kann sie auch auf -2,3 anschließend ziehen und so weiter, da dies immer verbunden ist und am Rand des Schwarms

[2019-09-14 07:06] #49 closed, assigned to nobody

[2019-09-14 07:39] SKoschnicke commented on #7
Wenn man aber ein Spiel zu Ende gespielt hat, steigt die Last extrem. Beim laufenden Spiel habe ich auch mindestens einen Kern komplett ausgelastet.

[2019-09-14 08:38] SKoschnicke commented on #53
Behoben durch https://github.com/CAU-Kiel-Tech-Inf/socha/commit/cf84b9c242c9fac1ef2e365a33eebe01144f4927

[2019-09-14 08:38] #53 closed, assigned to SKoschnicke

[2019-09-14 08:43] SKoschnicke opened #57 "Animationen"
Die Zuege sollten wieder animiert werden. Grundsaetzlich kann die Engine das (hatten wir schon bei Piranhas), aber die animation fuer Hive ist etwas schwieriger, da die Insekten sich entlang der Wegpfade bewegen sollten. Allerdings waere eine Zuganimation vom Start- zum Zielfeld ueber eine gerade Linie auch schon gut.

[2019-09-14 20:10] SKoschnicke commented on #51
Das ist definitiv schonmal eine Hilfe, super! Ich meinte aber eigentlich die Anzeige ganz normal ueber den Endscreen. Vielleicht ist das auch ein Problem beim Server, warum das noch nicht geht. Koennen wir erstmal so lassen.

[2019-09-14 20:10] #51 closed, assigned to nobody

[2019-09-15 09:26] sunfl0w opened #65 "Gestartetes GUI hat einen Fehler beim Game-Server"
Hallo,
ich versuche für die Videos zur Software Challenge ein GUI für Piranhas zu erstellen, welches die Feldmarkierungen nicht mehr hat. Ich habe also die Grafik komplett durchsichtig gemacht. Dann erstelle ich das Appimage, da ich unter Linux arbeite. Beim Start des Images bekomme ich dann den Fehler : "Es gab einen fehler beim Start des Game-Servers, das Programm wird wahrscheinlich nicht funkt

[2019-09-15 09:39] SKoschnicke commented on #65
Der Server ist ein Git Submodule, welches im GUI-Projekt im Verzeichnis `socha` liegt.

Ich denke da fehlt nur ein `yarn update-server` bevor du `yarn dist -l` machst, um das Appimage zu bauen. Alternativ musst du auch kein kein Image bauen sondern kannst die Anwendung direkt mit `yarn start` starten (aber das update-server in jedem Fall vorher ausfuehren).

[2019-09-15 10:09] sunfl0w commented on #65
Danke. Über "yarn start" funktioniert es jetzt.

[2019-09-15 10:09] #65 closed, assigned to nobody

[2019-09-15 15:15] sunfl0w opened #66 "Die Vorversion des GUIs funktioniert nicht (richtig) unter Linux."
Das GUI funktioniert unter Linux noch nicht so recht. Zuerst kam die Fehlermeldung:
<details><summary>Klick</summary>
<p>

**[7067:0915/170031.873898:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /tmp/.mount_Test.AaYzNsf/chrome-sandbox is owned by root and

[2019-09-15 17:11] Yasamato commented on #66
Hm bei der Ausführung via `yarn start` oder mit dem AppImage? Welche Vorversion meinst du, die Hive-beta?
Aber da kann ich dir auch wenig helfen, da das ein Problem mit der Unix-Berechtigung anscheinend ist.

Falls du Arch benutzt, könnte das die [Lösung](https://github.com/electron/electron/issues/17972#issuecomment-486927073) sein, ansonsten habe ich selbst momentan kein Setup um das nachzuvollz

[2019-09-15 18:00] sunfl0w commented on #66
Ich meine das GUI-AppImage für Hive. Ich lade mir sonst nochmal das Reposetory runter und teste über yarn start.

[2019-09-15 18:09] SKoschnicke commented on #66
Das Appimage sollte schon funktionieren. Ich schaue mir das an.

[2019-09-15 18:16] sunfl0w commented on #66
Wenn ich das GUI über yarn start aufrufe klapp alles wie es sollte. Nur beim AppImage habe ich Probleme.

[2019-09-16 04:41] SKoschnicke opened #73 "Fehler bei Spinnenbewegung"
![img-2019-09-16-063908](https://user-images.githubusercontent.com/105162/64934711-e86bbe00-d84c-11e9-8460-fa6a205f4ae8.png)
Die blaue Spinne muesste auch auf 0,3 ziehen koennen (0,1 -> 0,2 -> 0,3).

[2019-09-16 04:48] SKoschnicke opened #74 "Fehler bei Ameisenbewegung"
![img-2019-09-16-064542](https://user-images.githubusercontent.com/105162/64934839-c6267000-d84d-11e9-96eb-852561e2159e.png)
Die obere blaue Ameise darf nicht an der Himbeere auf 1,-1 vorbei nach unten. Die sollte fuer die Bewegung wie ein leeres Feld zaehlen. So wie -1,-1 fuer die untere blaue Ameise:
![img-2019-09-16-064526](https://user-images.githubusercontent.com/105162/64934885-f5d57800-d84d

[2019-09-16 05:23] Yasamato commented on #74
Nein, ich glaube das ist korrekt, da die Ameise den kompletten weg anders herum da hin gehen kann auf die Andere Seite der Frucht

[2019-09-16 05:25] Yasamato commented on #73
Ich schau mir das mal an

[2019-09-16 05:29] SKoschnicke commented on #74
Du hast recht, sehr gut.

[2019-09-16 05:29] #74 closed, assigned to Yasamato

[2019-09-16 05:50] #73 closed, assigned to Yasamato

[2019-09-16 06:14] Yasamato commented on #2
UI-technisch müsste jetzt nur noch was gemacht werden, die Funktionalitäten sind vorhanden und getestet

[2019-09-16 07:04] SKoschnicke commented on #2
Bei mir meldet er sich immer beim Start, dass die Version aktuell ist. Ich finde das ist nur notwendig, wenn es eine neue Version gibt.

[2019-09-16 07:16] sunfl0w commented on #66
Das Problem scheint mit der dritten Hive-Beta behoben zu sein.

[2019-09-16 07:16] #66 closed, assigned to nobody

[2019-09-16 07:54] Yasamato opened #77 "Hintergrundbild im Startbildschirm fehlt"
GET file:///../src/resources/hive/banner.png net::ERR_FILE_NOT_FOUND

[2019-09-16 08:06] Yasamato opened #78 "Tests implementieren"
**Das ist hier einfach eine Brainstorm-Liste, was alles zu testen ist**

### Get possible moves
- [ ] Possible moves bei Ant
- [x] Possible moves bei Bee
- [ ] Possible moves bei Beetle
- [ ] Possible moves bei Grasshopper
- [ ] Possible moves bei Spider
- [ ] Possible moves bei empty
- [ ] Possible moves bei obstructed
- [ ] Possible moves bei outside board

### Validate moves
- [ ] Validate move

[2019-09-16 08:13] SKoschnicke commented on #78
Zusaetzlich kann man die Tests aus dem Server mit minimalen Anpassungen uebernehmen.

[2019-09-17 08:16] SKoschnicke commented on #42
Wenn Rot im ersten Zug eine Nicht-Biene in eine Ecke des Spielfeldes setzt und Blau dann daran einen eigenen Spielstein, kann Rot keinen weiteren Stein platzieren (wuerde immer den blauen Stein beruehren) und muss somit aussetzen.
Wir brauchen also eine Aussetz-Funktion. Wird vom Server auch noch nicht unterstuetzt.

https://github.com/CAU-Kiel-Tech-Inf/socha/issues/222

[2019-09-17 08:42] #2 closed, assigned to nobody

[2019-09-17 09:08] Xerus2000 commented on #42
aber Rot kann doch den gesetzten Stein noch bewegen?

[2019-09-17 09:10] Yasamato commented on #42
Dass geht nur wenn bereits eine Bee platziert wurde, wenn es keine ist, dann kann Blau Rot dazu zwingen nie mehr eine Figur zu setzen

[2019-09-18 07:24] SKoschnicke opened #79 "Grafiken verbessern"
Die Grafiken werden im Moment durch Phaser runterskaliert, was sie sehr haesslich macht und auch schlecht fuer die Performance ist. Folgende Dinge sollten verbessert werden:
- Alle Insekten in gleicher Groesse als PNG erstellen (von den SVG-Quellen, siehe Notion)
- Skalierungsfaktoren der einzelnen Insekten Sprites entfernen
- Hoehere Aufloesung fuer den Canvas von Phaser (ist aktuell nur 800x800

[2019-09-18 07:28] SKoschnicke opened #80 "Spielbrett-Ansicht verbessern"
Abgesehen vom ersten Zug muss nicht das gesamte Spielfeld zu sehen sein. Es reicht wenn man nur den Ausschnitt mit dem Schwarm zeigt. Das haette zur Folge, dass die einzelnen Felder groesser dargestellt werden koennen und besser erkennbar waeren.

Idealerweise sollte sich die Spielfeldansicht bei jedem Zug fliessend anpassen, Phaser kann das mit Kameras:
https://phaser.io/examples/v3/view/camera/f

[2019-09-18 23:59] fwcd opened #81 "Bereits beendetes Spiel erscheint beim Neustart"
Nach dem Neustart eines Spieles, erscheint nach dem ersten Zug das Spielbrett der letzten Runde:

![screencast](https://user-images.githubusercontent.com/30873659/65196791-eab65e00-da80-11e9-9606-cb4293c8258c.gif)

[2019-09-19 06:39] Yasamato commented on #81
Hm... @SKoschnicke die GUI scheint das richtig zu fetchen wenn ich das richtig sehe, ist das ein Problem beim Server?

[2019-09-19 09:25] SKoschnicke commented on #81
@fwcd vielen Dank fuer die tolle Videobeschreibung!

@Agent77326 das Problem liegt vermutlich beim GameManager der GUI. Definitiv nicht beim Java Server. Es ist ja im Moment auch so, dass wenn man von einem auf ein anderes Spiel wechselt und dann wieder zurueck er den aktuellen Zug nicht behaelt sondern wieder von 0 anfaengt. Vielleicht gibt es da sogar einen Zusammenhang.

[2019-09-19 09:56] Yasamato commented on #81
~Das Problem lag glaube ich daran, dass wir manuell das Spiel in der GUI gestartet hatten. Durch entfernen entsprechendes Codes, konnte ich das Verhalten nicht mehr reproduzieren~
Ich glaube ich weiß wo der Fehler liegt, nur nicht warum er auftritt..

[2019-09-21 12:17] sunfl0w opened #82 "Starten des GUI in Linux mit "--no-sandbox"."
Ich hatte ja letztens dieses eine Problem beim Starten des GUIs in Linux. Ich wollte hier nochmal anmerken, dass das Problem noch existiert. Nach jedem Neustart meines PCs muss ich erneut einen der Workarounds nutzen. Die eleganteste Lösung bis jetzt ist, das AppImage mit der Option "--no-sandbox" zu starten. Vielleicht sollte dies irgendwo noch als Hinweis auftauchen.

[2019-09-23 12:09] SKoschnicke commented on #43
Ist dieses Ticket weiterhin sinnvoll? Ich denke die Suche mit Milestones und Tags ist besser, da sie sich automatisch aktualisiert:

https://github.com/CAU-Kiel-Tech-Inf/socha-gui/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Abug

https://github.com/CAU-Kiel-Tech-Inf/socha-gui/issues?q=is%3Aissue+is%3Aopen+label%3Abug+milestone%3A20.0.0

[2019-09-23 12:14] SKoschnicke opened #83 "Aussetzen wird angezeigt, obwohl moegliche Zuege"
Aussetzen wird in folgender Situation angezeigt:

![aussetzen-fehler](https://user-images.githubusercontent.com/105162/65424621-462f7580-de0c-11e9-8ec7-8c5b66fa9ef9.png)

Anscheinend ist Rot an der Reihe, es gibt aber moegliche Zuege fuer Rot.

[2019-09-23 12:16] jnccd commented on #83
Hier ist auch das Replay

[Mensch vs 2.zip](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/3642029/Mensch.vs.2.zip)

[2019-09-23 14:00] SKoschnicke opened #84 "Links auf Doku sind veraltet"
Die Links in der linken Seitenleiste müssen noch aktualisiert werden.

[2019-09-23 17:17] #43 closed, assigned to nobody

[2019-09-23 17:19] #42 closed, assigned to nobody

[2019-09-25 12:39] #84 closed, assigned to nobody

[2019-09-26 09:18] #83 closed, assigned to Yasamato

[2019-09-27 19:47] xeruf opened #85 "UndeployedBluePieces werden nicht korrekt geparsed wenn alle roten Pieces bereits gesetzt wurden"
Siehe https://github.com/CAU-Kiel-Tech-Inf/socha/issues/225

Habe einen kleinen test geschrieben, am Parser scheints nicht zu liegen:
[code]
Ich werde weiter experimentieren.

[2019-09-27 19:57] xeruf opened #86 "Spielnamen ändern"
Theoretisch implementiert in der App:
[code]
Praktisch funktionierts aber noch nicht

[2019-09-27 20:41] xeruf commented on #85
am xml parser liegts nicht, habe extra nen neuen test gemacht: https://github.com/CAU-Kiel-Tech-Inf/socha-gui/commit/515aab05d31b13a48f67588b33fef7a66a703225

[2019-10-01 18:05] Yasamato commented on #81
Steps zur Reproduktion:

1. Die GUI neu öffnen
2. "Neues Spiel"
3. Spieler 1 (Rot) muss ein com sein und Spieler 2 Mensch

Bis hier funktioniert alles wie erwartet, tätige paar Züge etc. (funktioniert auch direkt ohne weitere Züge)

4. "Neues Spiel"
5. Spieler 1 (Rot) muss ein com sein und Spieler 2 Mensch

Hier wird ein neues Spielfeld erwartet, jedoch wird das GameState vom vorherigen Spiel ange

[2019-10-02 08:05] SKoschnicke commented on #78
Das ist erstmal gut so. Es sollten Tests hinzugefuegt werden, wenn sich konkrete Fehler zeigen.

[2019-10-02 08:05] #78 closed, assigned to nobody

[2019-10-02 09:58] xeruf opened #87 "Autostart funktioniert nicht bei Mensch vs AI"
Wenn man ein Spiel start wo ein Mensch anfängt muss man jetzt am Anfang doch wieder auf Play drücken, irgendwie ist der autostart-mechanismus kaputt

[2019-10-02 10:17] SKoschnicke commented on #87
Kann ich nicht reproduzieren. Funktioniert bei mir.

[2019-10-02 10:47] SKoschnicke commented on #87
Okay, funktioniert nur bei Mensch gegen Mensch, nicht bei Mensch gegen Computer.

[2019-10-02 10:59] #81 closed, assigned to nobody

[2019-10-02 10:59] #86 closed, assigned to nobody

[2019-10-07 14:54] xeruf opened #89 "Endbildschirm wrapt nicht automatisch"
![image](https://user-images.githubusercontent.com/13354331/66322798-f9c35a00-e922-11e9-8f9b-ccbeedd289b3.png)

Der text sollte automatisch wrappen damit man alles lesen kann.

[2019-10-14 11:12] xeruf commented on #82
@sunfl0w bitte ergänze hier im issue nochmal eine erläuterung des Problems, kann auch einfach kopiert sein, damit man nicht erst discord durchsuchen muss

[2019-10-14 16:42] sunfl0w commented on #82
Ich kann den Fehler tatsächlich nicht mehr reproduzieren mit der Version 20.0.9 .
Das Problem bestand darin, dass das GUI ohne die Option nicht starten wollte.
Ich habe aber einen weiteren Linux bezogenen gefunden. Dort wird der Game-Server wohl nicht richtig gestartet wird, könnte das damit zusammenhängen, dass ich eine VM benutze, da es auf dem Desktop funktioniert? Ich würde das dann gegebenenf

[2019-10-14 18:29] #82 closed, assigned to SKoschnicke

[2019-10-14 19:14] matthesjh opened #92 "GUI can't be opened on macOS Catalina"
The current version (20.0.9) of the GUI can't be opened on macOS 10.15.0 Catalina (build 19A583).

The issue is maybe related to [`electron-builder`](https://github.com/electron-userland/electron-builder/) as described in the following Medium post (a workaround is also included).

https://medium.com/cacher-app/getting-your-electron-app-working-on-macos-catalina-10-15-63e53f397da2

[2019-10-14 19:42] matthesjh opened #93 "Sign and notarize the GUI"
To avoid warnings on recent versions of macOS and to improve the security of the distributed binaries, the GUI should be signed with a *Developer ID* and notarized by Apple. This process can be automated with the build system and `electron-builder`, but requires a paid Apple Developer Program membership.

More information can be found here: https://developer.apple.com/developer-id/

[2019-10-15 08:58] xeruf commented on #82
Ja, kannst ein separates issue aufmachen. In einer VM könnte es daran liegen, dass die Ports nicht zugänglich sind die die GUI braucht - warum nutzt du da überhaupt ne VM?

[2019-10-15 09:12] sunfl0w commented on #82
Ich wollte das ursprüngliche Problem nochmal reproduzieren, da es auf meinem Desktop nicht mehr auftrat. Testen wollte ich das dann nochmal in einer VM auf meinem Notebook.

[2019-10-15 09:14] sunfl0w commented on #82
Welche Ports werden denn benötigt?

[2019-10-16 08:04] Yasamato commented on #93
@SKoschnicke haben wir da eine Möglichkeit auf eine Uni-eigene ID zuzugreifen, welche bereits im Apple Developer Program drinnen ist? Wenn nicht halte ich das Problem momentan für eher zweitrangig.

[2019-10-16 08:07] SKoschnicke commented on #93
Nein haben wir nicht. Es ist aber kein Problem, einen entsprechenden Account anzulegen.

Es ist sicher nicht die oberste Prioritaet, aber das Signieren der Releases fuer alle drei Plattformen sollte auch in Angriff genommen werden.

[2019-10-16 08:07] xeruf commented on #82
13050 bzw 13051 sind Standard, siehe https://cau-kiel-tech-inf.github.io/socha-enduser-docs/server.html#automatische-spiele

[2019-10-16 08:36] SKoschnicke commented on #82
Wenn der Server und die GUI-App in der VM laeuft, und das ist der Fall wenn man einfach die GUI startet, sollte das aber kein Problem sein.

[2019-10-16 09:10] sunfl0w commented on #82
Interessant. Ich habe versucht die Ports freizumachen, ohne Erfolg. Das GUI kann ich dann also nicht in der VM starten, aber auf meinem Desktop schon.

[2019-10-18 14:18] sunfl0w commented on #82
Das mit der VM hat sich erledigt. Ich habe das OpenJDK nochmal neuinstalliert und ein komplettes Systemupdate durchgeführt. Danach läuft jetzt alles wie es sollte.

[2019-10-23 21:11] matthesjh commented on #39
Electron version 7.0 was released yesterday, so it should be considered to update to this newer version.

[2019-10-24 07:28] SKoschnicke opened #96 "MissMove in SkipMove umbenennen"
Siehe https://github.com/CAU-Kiel-Tech-Inf/socha/commit/187b62ea3659840ba42b03bdb611adee7e6665e0

Der HumanClient der GUI muss entsprechend angepasst werden, damit er das veraenderte XML sendet.

[2019-10-26 20:23] xeruf commented on #96
Done: 4848df3

[2019-10-26 20:23] #96 closed, assigned to Yasamato

[2019-10-26 20:24] xeruf opened #97 "SkipMove button erscheint nicht, wenn man keinen Zug machen kann"
![image](https://user-images.githubusercontent.com/13354331/67625501-470a5b80-f83f-11e9-8dec-7fd06217a862.png)
Spielsteine sind gelb umrandet, gibt aber keine Setzposition

![image](https://user-images.githubusercontent.com/13354331/67625511-5f7a7600-f83f-11e9-8ac5-9a5073393069.png)

[2019-10-26 21:06] matthesjh commented on #92
@Xerus2000 Can we get this fixed by updating to a newer `electron-builder` version?

[2019-10-26 21:16] xeruf commented on #97
![image](https://user-images.githubusercontent.com/13354331/67626061-a91a8f00-f846-11e9-8490-ae841e13818d.png)

[2019-10-28 13:20] SKoschnicke opened #98 "Kaefer verschwindet"
Bericht von niko auf Discord.

[kaefer-verschwindet.zip](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/3778808/kaefer-verschwindet.zip)

[2019-10-28 13:22] SKoschnicke commented on #98
Weiteres Beispiel

[kaefer-verschwindet2.zip](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/3778813/kaefer-verschwindet2.zip)

[2019-10-29 19:09] Yasamato commented on #97
Hm... der Skip-Button kommt jetzt zur erwünschten Zeit und Stelle.... nur bleibt sie da dort.

[2019-10-29 19:12] Yasamato commented on #97
Die UI wird auch gecleared, das sprite-object mit dem button wird auch entfernt (= null gesetzt), aber trotzdem weiterhin gezeichnet. Hast du da eine @SKoschnicke?

[2019-11-01 13:12] xeruf commented on #85
Replays aus dem Discord:
[undeployed-replays.zip](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/3797998/undeployed-replays.zip)
Niklas: "Eine Schülerin hat einen Bug in der GUI gefunden, scheinbar verschwinden alle noch nicht gelegten Steine von Team Blau wenn Rot alle seine Steine abgelegt hat.
Ich konnte das in der neuen GUI Version auch reproduzieren."

[2019-11-01 14:50] Yasamato commented on #85
Ich kann da auch nichts machen, siehe:
https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/16797238646fabc889dc943ba0dabaec8d4f6474/src/api/synchronous/GameManagerWorkerInterface.ts#L105-L113
https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/16797238646fabc889dc943ba0dabaec8d4f6474/src/api/synchronous/GameManagerWorkerInterface.ts#L46-L48
Die GUI-kriegt da vom Server einen leeren Array, sobald R

[2019-11-01 15:04] Yasamato commented on #98
Nach erstmaliger Analyse scheint das Problem beim Rendern zu liegen. In den Datenstrukturen und Debug-Nachrichten sind nämlich in allen Fällen der Käfer auch enthalten (an korrekter Stelle), werden aber einfach nicht gezeichnet.

[2019-11-02 10:10] nikohass commented on #98
Es sieht so aus, als ob sich Käfer auf Hindernisse setzen können. Dadurch gilt das Hindernis als Teil des Schwarms.

[kaefer-verschwindet5.zip](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/3800347/kaefer-verschwindet5.zip)

[2019-11-05 10:42] xeruf commented on #85
Ich habe es doch vorher getestet, das liegt nicht am Server, sondern irgendwo im späteren parsing. Siehe https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/16797238646fabc889dc943ba0dabaec8d4f6474/tests/parserTest.ts

[2019-11-05 11:02] Yasamato commented on #85
Ja, das meine ich ja, das geloggte XML ist korrekt, aber beim Parsen geht das schief.

[2019-11-05 11:16] xeruf commented on #85
Ich würde für jede involvierte Methode weitere Tests in [parserTest](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/16797238646fabc889dc943ba0dabaec8d4f6474/tests/parserTest.ts) schreiben, um das Problem Stück für Stück einzugrenzen.

[2019-11-05 11:33] xeruf opened #99 "Nur Bewegung am Schwarm entlang erlauben"
![image](https://user-images.githubusercontent.com/13354331/68204499-68e6a980-ffc8-11e9-9111-bddc4c717268.png)
Der Zug Beetle (2, 1, -3) nach (3, 0, -3) wird als valider Move angezeigt, ist aber nicht erlaubt.

Siehe auch https://github.com/CAU-Kiel-Tech-Inf/socha/issues/242

[2019-11-05 11:34] xeruf opened #100 "GUI sollte sich bei Fehler nicht aufhängen"
Siehe https://github.com/CAU-Kiel-Tech-Inf/socha/issues/242

Wenn der Server einen Fehler zurücksendet, hängt sich die GUI wohl einfach auf.

[2019-11-05 19:41] Yasamato commented on #85
Ich konnte den Fehler auf die Antwort von fetch(url) einschränken in:
https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/16797238646fabc889dc943ba0dabaec8d4f6474/src/api/synchronous/GameManagerWorkerInterface.ts#L46-L48

Die erhaltene Antwort hierbei ist ein JSON-String, bei dem schon undeployedblue leer ist.
Dieser JSON-String wird als Stream hierbei vom Server (?) gesendet:
![image](https://use

[2019-11-05 19:52] Yasamato commented on #85
Siehe https://github.com/CAU-Kiel-Tech-Inf/socha-gui/tree/debug-stream

[2019-11-05 20:11] Yasamato commented on #98
Mit https://github.com/CAU-Kiel-Tech-Inf/socha-gui/commit/5c087a5beca31c701dc7b0cee709f28abb6e2b6f konnte ich deinen Fehler @nikohass nicht mehr reproduzieren. Das plötzliche scheinbar zufällige visuelle Verschwinden der Käfer konnte ich nicht weiter auf den Grund gehen, ich erkenne da keinen Fehler im Rendering bezüglich den Käfern. In den Datenstrukturen sind sie laut debug-Nachrichten auch noch

[2019-11-05 20:27] Yasamato commented on #100
Der Server sendet nach jedem Move einen Fehler:
![image](https://user-images.githubusercontent.com/27964795/68243210-53966d00-0012-11ea-8392-c3b1928caa40.png)

Und ich glaube der Server scheint damit nicht klar zu kommen. Die korrekte Verhaltensweise der GUI wäre doch den Spieler anschließend noch mal den Zug auswählen zu lassen oder? Nur bekommt die GUI dann bei jedem möglichen Zug vom Spieler er

[2019-11-06 12:50] xeruf commented on #85
Es gibt keine JSON-Kommunikation mit dem Server. Die Kommunikation die du da siehst ist in der GUI zwischen dem synchronous und asynchronous package.

[2019-11-06 12:56] xeruf commented on #99
Issue bitte nicht schließen solange der fix nicht im master ist. Nutze stattdessen den ["fixes"-syntax](https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords) in commit und/oder PR message.

[2019-11-06 13:01] xeruf commented on #100
Wenn ein illegaler Zug gesendet wird, beendet der Server meines Wissens nach das Spiel, also muss es in der GUI auch beendet werden mit dem Hinweis, hier ein Issue zu öffnen.

[2019-11-06 19:06] Yasamato commented on #100
Anscheinend beendet der Server das Spiel, aber auch bei allen weiteren Spielen (die vorher und danach erstellt wurden), tritt obige Fehlermeldung dauerhaft mit jedem Zug auf (das unterste Bild)

[2019-11-07 21:57] Yasamato commented on #85
Der Fehler lag weder am Server, Parsen oder sonst wo.... undeployedRed wurde nur an einer Stelle fehlerhafterweise anstatt undeployedBlue verwendet

[2019-11-08 09:58] Yasamato commented on #100
In #101 enthalten

[2019-11-11 20:06] #99 closed, assigned to nobody

[2019-11-11 20:07] xeruf commented on #85
Fixed by #103

[2019-11-11 20:07] #85 closed, assigned to Yasamato

[2019-11-12 10:36] xeruf commented on #100
Oh, dann hätte das eigentlich in der commit message stehen sollen... Naja ^^

[2019-11-12 10:36] #100 closed, assigned to nobody

[2019-11-20 19:46] Yasamato commented on #93
Generell ist unsere Software nicht sehr vertrauenswürdig wie mir scheint:
![image](https://user-images.githubusercontent.com/27964795/69272282-b4a76e80-0bd6-11ea-9c63-c5b0538c8735.png)

[2019-11-25 07:34] Yasamato opened #108 "On build, arguments are not recognized"
The bundled build is unable to accept any arguments given via command line, like `--dev` or `--kiosk`. #107

[2019-11-28 08:25] SKoschnicke commented on #3
Da haben wir bald einen Studenten der sich im Rahmen einer Abschlussarbeit mit beschaeftigt.

[2019-11-29 23:01] matthesjh commented on #92
Are there any news on that issue?

[2019-11-29 23:09] matthesjh commented on #93
Signing software that is distributed to customers is very important nowadays. So this should be implemented rather sooner than later!

[2019-11-30 13:01] Yasamato commented on #93
Doc für electron-builder: https://www.electron.build/code-signing

[2019-11-30 14:33] #97 closed, assigned to Yasamato

[2019-11-30 14:41] #89 closed, assigned to nobody

[2019-11-30 14:43] Yasamato commented on #108
I think they have actually ever been recognized, as I cannot enter `--dev` even in the old versions.

[2019-11-30 15:04] Yasamato commented on #92
Könntest du überprüfen @matthesjh, ob mit der neuen Version [2.2.2](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/releases/tag/20.2.2) durch das Update von `electron-builder` das Problem behoben wurde?

[2019-11-30 15:30] xeruf commented on #3
Abschlussarbeit? Über error reporting? :sweat_smile:

[2019-11-30 16:07] matthesjh commented on #92
No, it's still there.

[2019-11-30 17:47] SKoschnicke commented on #3
Nein, ein allgemeines Feedback-System, welches überall verfügbar ist und eine möglichst geringe Schwelle aufweist, mit uns in Kontakt zu treten.

[2019-11-30 19:52] #92 closed, assigned to nobody

[2019-12-02 14:16] nikohass commented on #98
In der xml datei steht, dass auf einem blockierten Feld ein Käfer sitzt. Bei mir ist der Fehler nur aufgetreten wenn der Client gespielt hat.
![kaefer](https://user-images.githubusercontent.com/48032410/69966388-89961680-1516-11ea-9f7b-d0ce680e7858.PNG)
[Kaefer-verschwindet6.zip](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/3911637/Kaefer-verschwindet6.zip)

[2019-12-03 10:43] SKoschnicke opened #112 ""Spiel beenden"-Button im Kiosk Mode springt beim Maus-Hover"
Wenn ich im Kiosk-Mode mit der Maus im Spiel ueber den roten "Spiel beenden"-Button gehe, springt dieser nach rechts. Je nach Breite des Fensters so weit, dass die Maus dann nicht mehr ueber dem Button ist und er dann zurueck springt usw. Das macht es recht schwierig, auf den Button zu klicken (und sieht doof aus).

[2019-12-04 21:11] #112 closed, assigned to Yasamato

[2019-12-18 20:06] #80 closed, assigned to nobody

[2019-12-18 20:06] #79 closed, assigned to nobody

[2019-12-18 20:06] #77 closed, assigned to SKoschnicke

[2019-12-18 20:06] #57 closed, assigned to nobody

[2019-12-18 20:06] #34 closed, assigned to nobody

[2020-01-21 22:06] Yasamato commented on #39
Mit https://github.com/CAU-Kiel-Tech-Inf/socha-gui/commit/0796f8226a37d2b337fcd9eff7a1007395e401d2 bereits geschehen, jedoch noch nicht komplett angepasst, aber scheinbar lauffähig

[2020-01-21 22:06] #39 closed, assigned to Yasamato

[2020-01-28 11:33] xeruf opened #117 "Can't start a game"
When I start a game, at first nothing happens. If I then navigate somewhere else, the game appears on the left, but if I click on it I get an empty game screen:

![image](https://user-images.githubusercontent.com/13354331/73260396-1b926680-41ca-11ea-9f98-56551bc738d4.png)

I'm on Linux, using latest master via `yarn start`.

[2020-01-28 11:39] xeruf commented on #117
Nevermind, my cache was apparently outdated.

[2020-01-28 11:39] #117 closed, assigned to Yasamato

[2020-02-13 13:14] sw1tchbl4d3r opened #118 "Log-Verzeichnis/Datei wird nicht gesetzt"
In Version 20.3.2 vom AppImage wird auf meinem System weder Logdatei noch Logverzeichnis gesetzt. Beides wird bei mir leer angezeigt.
Ich nutze Arch (5.4.6-arch3-1) x86_64.
Es sind noch 2 Screenshots angehangen auf welchen man die leeren Felder sehen kann.
![scr1](https://user-images.githubusercontent.com/54949148/74438757-235d3680-4e6b-11ea-85cb-ec7b2cac00bf.png)

![scr2](https://user-images.gith

[2020-02-14 08:03] Yasamato commented on #118
Ist denke ich trivial, aber nur um sicher zu gehen, hast du als Benutzer, der das Programm ausführt, auch die volle Zugriffsberechtigung auf den Installationsordner?

[2020-02-14 08:07] Yasamato commented on #108
Das Problem lag an einer fehlenden Nutzung der von Electron nativ bereit gestellten API zur Handhabung von solchen CLI-Switches und wird mit #119 behoben werden.

[2020-02-14 08:07] Yasamato commented on #23
Siehe #119

[2020-02-14 08:07] #23 closed, assigned to Yasamato

[2020-02-14 08:09] Yasamato commented on #7
Da dies eigentlich ein Dauerauftrag ist, schließe ich mal das Issue. Falls extreme Leistungsspitzen auftreten sollten, bitte ich dafür ein seperates Issue zu eröffnen, damit gezielt einzelne Leistungsprobleme bearbeitet werden können

[2020-02-14 08:09] #7 closed, assigned to nobody

[2020-02-14 09:58] sw1tchbl4d3r commented on #118
Ich denke mal du meinst den Ordner in dem ich das Appimage ausführe/ wo das AppImage sich drin befindet, und ja, ich habe rwx auf dem. Ist in meinem /home

[2020-02-14 10:01] sw1tchbl4d3r commented on #118
Nochmal hinzuzufügen: Wenn ich das AppImage als root über sudo starte mit --no-sandbox besteht das Problem.

[2020-02-14 12:02] Yasamato commented on #118
Vermutlich ist dies ein Problem mit dem Format von AppImage, da in den anderen Formaten für win/mac scheinbar bisher keine solche Probleme aufgetreten sind.
(Sind letztlich alles Archiv-Dateien, welche ein Dateisystem beinhaltet)

[2020-02-21 09:15] xeruf commented on #118
Ja, liegt am AppImage, bei mir passiert genau dasselbe aber es funktioniert wenn ich es von source ausführe.

[2020-02-21 10:18] xeruf commented on #118
Okay, da lag ein Programmierfehler meinerseits vor, muss ich mir aber nochmal genauer anschauen.

[2020-02-21 13:33] nikohass opened #120 "Grashüpfer können über Beeren springen"
Im 1. Replay springt der rote Grashüpfer in Zug 20 über eine Beere.
Im 2. Replay springt der blaue Grashüpfer in Zug 17 über eine Beere.
Im 3. Replay springt der blaue Grashüpfer in Zug 21 über eine Beere.
GUI Version: 20.3.2
[replays.zip](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/4236261/replays.zip)

[2020-02-24 14:00] nikohass commented on #120
In diesem Freundschaftsspiel hat unser Client in Zug 24 eine Beere übersprungen.

[1582552226_log_188932.xml.zip](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/4244883/1582552226_log_188932.xml.zip)

[2020-02-24 14:05] nikohass commented on #120
Hier in Zug 22 und 30.

[1582552296_log_188934.xml.zip](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/4244906/1582552296_log_188934.xml.zip)

[2020-02-25 11:05] #118 closed, assigned to xeruf

[2020-02-26 09:01] xeruf commented on #120
@nikohass in Zukunft am besten auch Screenshots anfügen, dadurch kann man oft auch schon das Problem erkennen, ohne mit den replays hantieren zu müssen ;)

[2020-02-26 09:19] xeruf commented on #120
übrigens ist das ein issue im [server](https://github.com/CAU-Kiel-Tech-Inf/socha) - ein gui issue wäre es, wenn die gui einen fehler schmeißt oder was falsch anzeigt ;)

[2020-02-26 09:20] xeruf commented on #120
gefixed: https://github.com/CAU-Kiel-Tech-Inf/socha/commit/355c8a3607e0ac27f638233d7989e536b512bf9b

[2020-02-26 09:20] #120 closed, assigned to nobody

[2020-02-26 09:23] xeruf commented on #8
Nope:

![image](https://user-images.githubusercontent.com/13354331/75330795-ebe68500-5881-11ea-8762-16b01da42776.png)

[2020-02-27 12:11] Yasamato commented on #108
fixed in #119

[2020-02-27 12:11] #108 closed, assigned to nobody

[2020-03-04 15:40] 0xhtml opened #124 "Release ohne builds"
Dem Release [20.3.4](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/releases/tag/20.3.4) fehlen die Installationsdateien.

[2020-03-04 20:42] Yasamato commented on #124
Wird morgen früh behoben

[2020-03-05 09:42] Yasamato commented on #124
Korrigiert und erreichbar unter: https://github.com/CAU-Kiel-Tech-Inf/socha-gui/releases/tag/20.3.3

[2020-03-05 09:42] #124 closed, assigned to Yasamato

[2020-03-05 20:12] 0xhtml commented on #124
Ist es beabsichtigt, dass der Release Java 13 (class file version 57.0) benötigt?

[2020-03-06 07:50] Yasamato commented on #93
Für windows kann man als open-source beantragen: https://en.sklep.certum.pl/data-safety/code-signing-certificates/open-source-code-signing-1022.html

[2020-03-06 07:50] Yasamato commented on #93
Dafür müssten wir uns erstmal eine Lizenz anlegen, welche wenn ich das richtig sehe, nicht haben

[2020-03-08 13:13] Yasamato opened #125 "UI kann keine korrekt Spiel starten"
Anscheinend tritt bei einigen Installationen Fehler was die UI-Darstellung bzw. deren Interaktion betrifft auf.

Unter Windows konnte ich bei mir keine der gemeldeten Probleme reproduzieren, daher bitte ich um ausführliche Hilfe, falls bei jemanden dieser Fehler auftritt.

Starte dazu die Version 20.3.3 vom Terminal aus via `./[Installations-Datei] --dev`, nun sollte sich eine chromium-console öff

[2020-03-09 13:22] 0xhtml opened #126 "Release 20.3.3 benötigt Java 13"
Ist es beabsichtigt, dass der Release 20.3.3 Java 13 (class file version 57.0) benötigt?

_Originally posted by @0xhtml in https://github.com/CAU-Kiel-Tech-Inf/socha-gui/issues/124#issuecomment-595424827_

[2020-03-09 14:51] Yasamato commented on #126
Mir nicht bekannt, bei mir funktioniert alles noch mit Java 8. Was für ein Betriebssystem benutzt du den @0xhtml? Weißt du da was @Xerus2000?

[2020-03-09 17:43] 0xhtml commented on #126
Ich benutze Linux ([elementary OS](https://elementary.io)) mit `openjdk-11-jre` und beim Starten erscheint folgende Fehlermeldung:
![Fehler](https://ucf81448ed79af9bacd725a13fe4.previews.dropboxusercontent.com/p/thumb/AAtxtM0AltxikWpNAN930Ta4XiXIufe2ZlMOJBWmNevUSDzid9gBgMJgtZnNYI5abn5jQ9v_BCOg4JKtqQKp7_GoNxHdeLQ240o8RTzs9mYztqSVBnqkUIb5hyqhvRhWYbW7ysRMkkUJC_iPerYUdeaX5qpV7Iiq_7534MACLJBbCjBqBWjfHN

[2020-03-09 22:32] #126 closed, assigned to xeruf

[2020-03-11 13:48] SKoschnicke commented on #125
Wir konnten das Problem gerade auf Christophs Windows Rechner reproduzieren. Beim Klick auf den Start-Button im Spiel-erstellen-Dialog passiert entweder gar nichts oder es kommt die Meldung "Fehler beim Starten des Spiels: TypeError: Failed to fetch". Wenn man dann links in der Navbar irgendwas auswaehlt, erscheint das Spiel dort auch (vorher nicht). Wenn man draufklickt, sieht man den grossen Pla

[2020-03-11 13:51] SKoschnicke commented on #125
[-1583934133523.log](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/4318593/-1583934133523.log)

[2020-03-12 22:39] Yasamato opened #127 "Upgrade Java Version"
Da Java 8 [Ende 2020](https://www.oracle.com/java/technologies/java-se-support-roadmap.html) keinen (kostenfreien) Support mehr (von Oracle zumindest) bekommt, sollten wir auf mindestens Version 11 setzen (warum nicht gleich 13 oder das bis dahin wahrscheinlich erschienene 14?).

Dies sollte dann natürlich entsprechend beworben werden, damit die Teilnehmer auf die neue Version umsteigen können. Si

[2020-03-12 23:17] Yasamato opened #128 "32bit Support bei neueren electron-builder momentan fehlend"
(Vermutlich nur für OSX < 10.15)
Wir stoßen momentan bei Travis auf diesen [Fehler](https://github.com/electron-userland/electron-builder/issues/4629#issuecomment-598460512). Wir können also nur auf [Version 21.2.0](https://github.com/electron-userland/electron-builder/releases/tag/v21.2.0) bleiben anstatt die [neuste Version](https://github.com/electron-userland/electron-builder/releases/latest)

[2020-03-12 23:17] Yasamato commented on #127
#128

[2020-03-13 11:17] Yasamato commented on #10
Ich schließe das Issue mal, da dies durch das Upgrade von Electron bereits behoben worden sein könnte. Falls es doch noch auftreten sollte, bitte erneut öffnen

[2020-03-13 11:17] #10 closed, assigned to nobody

[2020-03-13 11:23] Yasamato commented on #20
Da wir beschlossen haben von der phaser-engine wegzugehen, schließe ich das Issue. Wenn das Problem dann bei der neuen kommenden Implementation für die nächste Saison bitte ein neues Issue mit neuen Infos eröffnen

[2020-03-13 11:23] #20 closed, assigned to nobody

[2020-03-26 12:01] xeruf commented on #93
Projekte wie dieses tracken wir nun intern in Notion

[2020-03-26 12:01] #93 closed, assigned to SKoschnicke

[2020-03-26 12:06] xeruf commented on #127
Das hat nix mit der GUI zu tun und es gibt noch einige Punkte zu besprechen, daher tracken wir das in Notion.

[2020-03-26 12:06] #127 closed, assigned to nobody

[2020-03-26 12:08] xeruf commented on #128
Ich glaube nicht, dass wir 32-bit support brauchen. Vielleicht kann man da mal über die Mentoren die Schulen abfragen? @SKoschnicke

[2020-04-17 08:47] xeruf opened #130 "Check if the Backend port is blocked"
[code]

This code assumes that port 12000 is open and doesn't even catch potential errors. If the port is blocked the GUI simply shows a whitescreen when trying to start a game without further information.

[2020-04-17 08:48] xeruf commented on #125
Might be related to #130

[2020-04-17 09:10] xeruf commented on #125
[software-challenge-gui-2020.4.17.log.zip](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/files/4491976/software-challenge-gui-2020.4.17.log.zip)

@anarchy is unable to start a game, that's his log

[2020-04-17 09:59] Yasamato commented on #130
We don't have an fallback-strategie as far as I can see, so should we introduce some changes to our port-handling like saying we have default 12000 and if blocked, server will try to listen on 12001. If this is blocked/used aswell, we increment till 12010 or something like that.

I think this could be quite resonable regarding the needed effort to implement this.

[2020-04-17 10:38] Yasamato commented on #130
Ah mir ist was aufgefallen:
https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/ba258d59b35f266966e758decad738b57f8ad046/src/api/asynchronous/AsyncApi.ts#L13-L19
hier ist Port 13050 und hier aber 12000
https://github.com/CAU-Kiel-Tech-Inf/socha-gui/blob/ba258d59b35f266966e758decad738b57f8ad046/src/api/synchronous/GameManagerWorkerInterface.ts#L27-L30

Das sieht mir verdächtig aus...

[2020-04-17 10:53] Yasamato commented on #125
Could you retry running on tree [error-handling](https://github.com/CAU-Kiel-Tech-Inf/socha-gui/tree/error-handling) and pass the logs @xerus2000, @anarchy?

[2020-04-17 11:47] xeruf commented on #130
Nein, der Server läuft auf 13050 und das Backend auf 12000, dass du das nach so langer Zeit in der Entwicklung noch nicht weißt ist beängstigend ^^ wir müssen das echt noch besser dokumentieren.

Aber scheinbar returned portfinder.getPortPromise sowieso den nächsten freien Port, das sollten wir mal anschauen - aber so oder so sollten Promise errors gehändelt werden.

[2020-04-17 13:04] SKoschnicke commented on #130
portfinder sollte eigentlich einen freien Port finden. Die angegebenen Ports sind nur die Startpunkte für die Suche https://www.npmjs.com/package/portfinder